{
  "parser": "@typescript-eslint/parser",
  "plugins": ["prettier"],
  "extends": ["prettier", "react-app", "react-app/jest"],
  "rules": {
    "prettier/prettier": "warn",
    // "no-unused-vars": "warn",
    "no-nested-ternary": "error"
  }
}
